APP_NAME="Order Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

# Keamanan X-IAE-KEY (Isi dengan NIM Anda)
API_KEY=102022400005

# Simulasi / Integrasi Service Lain
MOCK_EXTERNAL_SERVICES=true
INVENTORY_SERVICE_URL=http://localhost:3001
INVENTORY_SERVICE_KEY=dhika-nim-gudang-2026

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Storage Drivers
CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

# GraphQL Settings
LIGHTHOUSE_SCHEMA_CACHE_ENABLE=false
